<% if session[:id] %>
  <div class="signed-in">
    <ul id="nav">
      <li>
        <div id="profile-name">
          <%= session[:username]%>
        </div>
        <div id="profile-dropdown-image"> </div>
        <ul>
          <li>
            <%= link_to "Profile", :controller => 'users', :action => 'show' %>
          </li>
          <li>
            <% if session[:isadmin] == 1 %>
              <%= link_to "Create User", :controller => 'users', :action => 'new', :create_user => 1, :from_admin => 1 %>
            <% end %>
          </li>
          <li>
            <%= link_to "Sign Out", :controller => 'sessions', :action => 'destroy', :id => session[:id] %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
<% else %>
  <%= form_for(:session, :url => sessions_path, :html => {:id => "header-signin-form"}) do |f| %>
    <div class="signin-part">
      <span> <%= f.text_field(:username, :placeholder => 'Username')%>
        <%= f.password_field(:password, :placeholder => 'Password') %>
        <%= f.submit("Sign In", :id => "session-sign-in") %>
      </span>
    </div>
    <div class="signup-part">
      If you do not have an account, <span><%= link_to "Sign Up", :controller => :users, :action => :new, :create_user => 1, :from_admin => 0 %></span>
    </div>
  <% end %>
<% end %>
