<br />
<p id="notice"><%= notice %></p>

<hr />
<h2>User Profile</h2>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% if @numofposts == 0 %>
    <p>
      <b> <%= @user.username %> has not posted any questions yet.</b>
    </p>
<% else %>
    <p>
      <b>Number of Posts by <%= @user.username %>:</b>
      <%= @numofposts %>
    </p>
<% end %>

<% if @user.isadmin == 1 %>
<p>
  <b> <%= @user.username %> has Admin Functionality.</b>
</p>
<% end %>

<% if session[:isadmin] == 1 && session[:id] != @user.id %>
    <%= button_to 'Delete This User',  :controller => 'system', :action => 'delete_user', :user_id => @user.id %> <br />
    <% if @user.isadmin == 0 %>
        <%= button_to 'Grant Admin Privileges to this User',  :controller => 'system', :action => 'grant_isadmin', :user_id => @user.id %> <br />
    <% else %>
        <%= button_to 'Revoke Admin Privileges from this User',  :controller => 'system', :action => 'revoke_isadmin', :user_id => @user.id %> <br />
    <% end %>
<% end %>

<hr />
<%= link_to 'Go To Homepage',  :controller => 'system', :action => 'index' %>
