<div>
  <br />
  <hr>
  <br />
</div>
<div class="post">
  <div class="post-other-data">
    <div class="vote-section-container">
      <ul class="vote-section">
        <li>
          <% if session[:id] %>
            <%= form_tag(:controller => 'system', :action => 'add_new_vote', :user_id => session[:id], :post_id => post.id, :caller => params[:controller]) do %>
              <%= image_submit_tag("../images/up.png") %>
            <% end %>
          <% end %>
        </li>
        <li>
          <span class="vote-num"><%= post.numofvotes %></span>
        </li>
        <li>
          <span class="vote-text">Votes</span>
        </li>
      </ul>
    </div>
    <br />
    <div class="user-section-container">
      <ul class="user-section">
        <li>
          Replies: <%= get_number_of_replies(post.id) %>
        </li>
        <li>
          <div id="user-name-link">by <%= link_to "#{get_user_name_from_user_id(post.user_id)}", :controller => 'users', :action => 'show', :id => post.user_id, :from_list => '0' %></div>
        </li>
        <li>
          <span>on <%= post.created_at.strftime("%m-%d-%Y")%></span>
        </li>
      </ul>
    </div>
  </div>
  <div class="post-content" >
    <% if params[:controller] == "system" and (params[:action] == "index" or params[:action] == "see_all_questions" or params[:action] == "search_results") %>
      <%= link_to post.question, :controller => 'posts', :action => 'show', :id => post.id %>
    <% else %>
        <%= post.question %>
      <!--<label>
        <textarea class="post-text" readonly="readonly"></textarea>
      </label>-->
    <% end %>
  </div>
  <div class="post-button-container">
    <div class="post-button-panel">
      <ul>
        <li>
          <% if post.parent.nil? and params[:controller] == 'system' %>
            <%= link_to "Reply", :controller => 'posts', :action => 'show', :id => post.id, :from_reply_button => '1' %>
          <% end %>
        </li>
        <li>
          <% if session[:isadmin] == 1 and post.parent.nil? %>
            <%= button_to "Delete", {:controller => 'posts', :action => :destroy, :class => 'form-button', :id => post.id}, :class => 'form-button'  %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>