<h1>Askuery</h1>

<% if session[:id] %>
   <p> Logged in as <%= session[:username]%> <%= link_to "Sign Out", :controller => 'sessions', :action => 'destroy' %> </p>
   <p> <%= link_to "Ask Question", :controller => 'system', :action => 'create_new_post' %> </p>
<% else %>
    <p>You need to Sign In to ask a new question! <br /> <%= link_to "Sign In", :controller => 'sessions', :action => 'new' %></p>
<% end %>

<% for item in @posts %>
    <div id="post">
      <div id="votes" >
         Votes <%= item.numOfVotes %>
      </div>
      <div id="content" >
         <%= item.question %>
      </div>
      <div id="uname">
        posted by <%= h get_user_name_from_user_id(item.user_id) %>
      </div>
    </div>
    <br />
<% end %>

