<!DOCTYPE html>
<html>
<head>
  <title>AsKuery</title>
  <%= stylesheet_link_tag    "/stylesheets/display" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>

    <div class="header-band">
      <div class="header-content group">
        <a href="" class="askuery-logo">Askuery</a>

        <div class="login-form">
          <%= render "sessions/signin" %>
        </div>

      </div>
    </div>

    <div class="main-content-band">
      <div class="main-content">
        <%= yield %>

      </div>
    </div>



  </body>
</html>
